@charset "utf-8";

#signUpPage .inner {width: 500px; display: flex; flex-direction: column; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
#signUpPage .signup-btn {height: 50px;font-size: 18px;}  