@charset "utf-8";

#chatPage { display: flex; } 

/* SidePaenl */
.modal-header { background: var(--main-color); color: #fff; } 
#chatPage .sidePanel { width: 500px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; position: relative; padding-left: 30px; } 
#chatPage .sect_tit { font-size: 22px; font-weight: bold; margin-bottom: 15px; } 
#chatPage .myInfo { display: flex; margin-top: 50px; padding-right: 30px; position: relative; } 
#chatPage .myInfo .my-profile { margin-right: 15px; } 
#chatPage .myInfo .my-profile-name { margin-bottom: 0; } 
#chatPage .myInfo .my-profile-name .name { display: block; font-size: 20px; font-weight: bold; letter-spacing: -0.3px; line-height: 1.2; word-break: break-all; } 
#chatPage .myInfo .my-profile-name .email { color: #00a6fb; font-size: 14px; word-break: break-all; display: block; } 
#chatPage .myInfo .my-info-menu { position: absolute; right: 30px; cursor: pointer; top: -5px; font-size: 30px; } 
#chatPage .myInfo .my-info-menu button { padding: 3px 10px; background: var(--main-color); border: 1px solid var(--main-color); } 
#chatPage .myInfo .my-info-menu .menu-ico { font-size: 24px; } 
#chatPage .dropdown-toggle::after { display: none; } 

#chatPage .favoriteList { margin-top: 30px; height: 280px; position: relative; } 
#chatPage .favoriteList .favorite_room_wrapper { width: 216px; height: 470px; padding-left: 20px; transform: rotate(-90deg) translateY(-216px); border: 1px solid rgba(0, 0, 0, 0); } 
#chatPage .favoriteList .favorite_room { width: 160px; height: 170px; cursor: pointer; transform: rotate(90deg) translateX(161px); border: 1px solid rgba(0, 0, 0, 0); } 
#chatPage .favoriteList .favorite_room .favorite_profile { margin: -30px 0 -20px 15px; } 
#chatPage .favoriteList .favorite_room .favorite_box { padding: 30px 10px; border-radius: 5px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background: #fff; } 
#chatPage .favoriteList .favorite_room .favorite_name { font-weight: bold; line-height: 19px; max-height: 38px; margin-top: 3px; margin-bottom: 6px; } 
#chatPage .favoriteList .favorite_room .last_chat_time { color: #bcb8b1; margin-bottom: 10px; font-size: 14px; margin-top: -2px; } 
#chatPage .favoriteList .favorite_room .badge { font-size: 20px; width: 34px; height: 34px; padding: 0; display: inline-flex; align-items: center; justify-content: center; margin-right: 5px; } 
#chatPage .favoriteList .favorite_room .badge.opentalk { background: #eb5e28; } 
#chatPage .favoriteList .favorite_room .badge.direct { background: #2b9348; } 
#chatPage .favoriteList .favorite_room .badge.off_like { background: #0077b6; } 
#chatPage .favoriteList .no_favorited_chat { position: absolute; top: 50%; left: calc(50% - 15px); transform: translate(-50%, -50%); font-size: 18px; font-weight: bold; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; color: #83919d; } 

#chatPage .roomWrap { padding-right: 30px; } 
#chatPage .roomWrap .tab_wrapper { margin-bottom: 10px; } 
#chatPage .roomWrap .tab_wrapper span { margin-right: 10px; font-size: 22px; font-weight: bold; color: #bfc0c0; cursor: pointer; } 
#chatPage .roomWrap .tab_wrapper span.active { color: #212529; } 
#chatPage .roomWrap .roomBox { margin-top: 20px; } 
#chatPage .roomWrap .roomBox.direct-view .directChat { display: block; } 
#chatPage .roomWrap .roomBox.direct-view .openChat,
#chatPage .roomWrap .roomBox .directChat { display: none; } 

#chatPage .chat { overflow-y: auto; max-height: 410px; } 
#chatPage .chat .chat_item { opacity:0.7; display: flex; border-radius: 5px; background: #edf2fb; margin-bottom: 10px; cursor: pointer; padding: 10px; transition: opacity .3s, background .3s; } 
#chatPage .chat .chat_item:hover { opacity: 1; } 
#chatPage .openChat .chat_item.active { background: #0077b6; opacity: 1; } 
#chatPage .openChat .chat_item.active * { color:#fff; } 
#chatPage .directChat .chat_item { background: #d8f3dc; align-items: center; } 
#chatPage .directChat .chat_item.active { background: #52b788; opacity: 1; } 
#chatPage .directChat .chat_item.active * { color:#fff; } 
#chatPage .chat .profile-thumb { margin-right: 10px; } 
#chatPage .chat .chat_tit { font-size: 19px; font-weight: bold; margin-bottom: 2px; transition: color .3s; } 
#chatPage .chat .chat_desc { font-size: 14px; line-height: 1.2; margin-bottom: 4px; color: #333; transition: color .3s; } 

/* MainPaenl */
#chatPage .mainPanel { width: calc(100% - 500px); background: #f6f8fc; } 
#chatPage .mainPanel .no_chat_data { display: flex; align-items: center; justify-content: center; flex-direction: column; font-size: 30px; font-weight: bold; height: 100%; } 
#chatPage .talkHeader { background: #f2f3f7; padding: 30px; } 
#chatPage .talkHeaderInner { display: flex; justify-content: space-between; } 
#chatPage .talkHeaderInner .left_section { display: flex; } 
#chatPage .talkHeaderInner .left_section .current_talk_name { margin-left: 20px; margin-bottom: 0; } 
#chatPage .talkHeaderInner .left_section .current_talk_desc { color: #83919d; margin-left: 20px; font-size: 14px; } 
#chatPage .talkHeaderInner .right_section { width: 150px; flex-shrink: 0; display: flex; justify-content: flex-end; align-items: flex-end; flex-direction: column; } 
#chatPage .talkHeaderInner .right_section .badge { font-size: 20px; width: 34px; height: 34px; padding: 0; display: inline-flex; align-items: center; justify-content: center; background: var(--main-color); cursor: pointer; margin-left: 5px; } 
#chatPage .talkHeaderInner .right_section .mini-badge-wrap { margin-bottom: 8px; } 
#chatPage .talkHeaderInner .right_section .mini-badge { font-size: 18px; width: 28px; height: 28px; padding: 0; display: inline-flex; align-items: center; justify-content: center; color: #fff; border-radius: 5px; } 
#chatPage .talkHeaderInner .right_section .txt { font-size: 13px; vertical-align: middle; } 
#chatPage .talkHeaderInner .right_section .mini-badge.opentalk { background: #eb5e28; } 
#chatPage .talkHeaderInner .right_section .mini-badge.direct { background: #2b9348; } 
#chatPage .search_term_wrap { margin-top: 20px; position: relative; overflow: hidden; border-radius: 5px; height: 40px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; } 
#chatPage .search_term_wrap .ico { background: var(--main-color); color: #fff; font-size: 22px; position: absolute; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; } 
#chatPage .search_term { position: absolute; width: calc(100% - 40px); left: 40px; height: 100%; background: #fff; padding: 0 10px; } 

#chatPage .talkBody { padding: 15px 50px 30px; overflow-x: hidden; overflow-y: auto; height: calc(100vh - 230px); } 
#chatPage .talkBody .chat_user { display: flex; align-items: center; margin-top: 15px; } 
#chatPage .talkBody .chat_user .chat_thumb { width: 30px; height: 30px; } 
#chatPage .talkBody .chat_user .chat_user_name { margin-bottom: 0; margin-left: 10px; font-size: 16px; font-weight: bold; } 
#chatPage .talkBody .message_item_wrap .message_item { display: flex; margin-top: 8px; width: 80%; margin-left: 30px; align-items: flex-end; } 
#chatPage .talkBody .message_item_wrap .message_item .text { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background: #fff; border-radius: 5px; padding: 5px; margin-bottom: 0; } 
#chatPage .talkBody .message_item_wrap .message_item img { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 5px; max-width: 500px; } 
#chatPage .talkBody .message_item_wrap .message_item .time { margin-bottom: 0; flex-shrink: 0; color: #85878d; margin-left: 5px; font-size: 14px; } 
#chatPage .talkBody .message_item_wrap + .chat_user { margin-top: 15px; } 

#chatPage .talkBody .message_item_wrap.my_chat { display: flex; flex-direction: column; align-items: flex-end; } 
#chatPage .talkBody .message_item_wrap.my_chat .message_item { flex-direction: row-reverse; margin-top: 8px; } 
#chatPage .talkBody .message_item_wrap.my_chat .message_item .text { background: #0077b6; color: #fff; } 
#chatPage .talkBody .message_item_wrap.my_chat .message_item .time { margin-right: 5px; } 

#chatPage .talkForm .talk_input_wrapper { display: flex; background: #fff; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; border-radius: 5px; overflow: hidden; padding: 20px; position: sticky; width: 90%; bottom: 0; min-width: 632px; justify-content: space-between; flex-wrap: wrap; align-items: flex-end; margin: 10px auto; } 
#chatPage .talkForm .talk_header { width: calc(100% - 90px); align-self: self-start; } 
#chatPage .talkForm .btn_wrapper { width: 90px; flex-shrink: 0; } 
#chatPage .talkForm .talk_btn { background: var(--main-color); color: #fff; display: inline-flex; border-radius: 5px; width: 40px; height: 40px; font-size: 24px; align-items: center; justify-content: center; margin-left: 5px; } 

#chatPage .typing_loader_wrap { display: flex; padding: 0 50px; } 
#chatPage .typing_loader_wrap .typing_user { border-radius: 50%; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; color: #fff; background: #0077b6; font-weight: bold; } 
#chatPage .typing_loader_wrap .typing_loader { top: 5px; left: 23px; } 

.typing_loader,
.typing_loader:before,
.typing_loader:after { border-radius: 50%; width: 10px; height: 10px; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation: load7 1s infinite ease-in-out; animation: load7 1s infinite ease-in-out; } 
.typing_loader { color: var(--main-color); position: relative; text-indent: -9999em; -webkit-animation-delay: -0.08s; animation-delay: -0.08s; } 
.typing_loader:before,
.typing_loader:after { content: ''; position: absolute; } 
.typing_loader:before { left: -15px; -webkit-animation-delay: -0.16s; animation-delay: -0.16s; } 
.typing_loader:after { left: 15px; } 
@-webkit-keyframes load7 { 0%,
 80%,
 100% { box-shadow: 0 10px 0 -15px; } 
 40% { box-shadow: 0 10px 0 0; } 
 }
@keyframes load7 { 0%,
 80%,
 100% { box-shadow: 0 10px 0 -15px; } 
 40% { box-shadow: 0 10px 0 0; } 
 }
