@charset "utf-8";

:root { --main-color: #3080eb; --main-color2: #1354aa; --main-color3: #4baa68; --red-color: #ec3c3d; } 

* { margin:0; padding: 0; vertical-align: top; box-sizing: border-box; } 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section { display: block; } 
i { font-style: normal; } 

/* a 링크 초기화 */
a { color: #333; text-decoration: none; } 
a:hover { color: #333; } 

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table { font-family: 'Helvetica Neue', 'Noto Sans KR', 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #333; font-size: 13px; line-height: 1.5; } 

/* table 초기화 */
table { padding:0; border:0; border-spacing:0px; border-collapse: collapse; } 
th, td { padding:0; } 

/* 폰트 스타일 초기화 */
em, address { font-style: normal; } 

/* 블릿기호 초기화 */
ul, li, ol { list-style: none; } 

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 { font-size: 13px; font-weight: normal; font-family: inherit; } 

/* 테두리 초기화 */
img,
fieldset { border: 0 none; } 

/* 버튼 초기화 */
button { border: 0; } 

img { display: block; width: auto; max-width: 100%; } 

input { outline: none; border: none; } 

input[type="number"] { -moz-appearance: textfield; appearance: none; -webkit-appearance: none; } 

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; } 

input[type="file"] { display: none; } 

textarea { outline: none; border: none; } 

textarea:focus, input:focus { border-color: transparent !important; } 

button { outline: none !important; border: none; background: transparent; } 

button:hover { cursor: pointer; } 

/* scrollbar style */
*::-webkit-scrollbar {width: 4px; height: 3px;background-color: transparent; } 
/** STYLE 4 */
*::-webkit-scrollbar-track {background-color: transparent; } 
*::-webkit-scrollbar-thumb {background-color: #a8a8a8; } 

/* clearfix */
.clearfix { *zoom: 1; } 
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0; } 
.clearfix:after { clear: both; } 

/* float */
.fl-l { float: left; } 
.fl-r { float: right; } 

/* IR 효과 */
.ir_pm { display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px; } 
.ir_wa { display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%; } 
.ir_so { overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px; } 

/* 가운데 영역 */
.page-container { position: relative; min-width: 1236px; margin: 0 auto; min-height: 100vh; } 
.shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.5); display: none; } 

.hide { display: none; } 
.common-button { background: var(--main-color); color: #fff; width: 100%; height: 30px; border-radius: 3px; transition: opacity .2s ease; } 
.common-button:hover { opacity: 0.9; } 
.go-link, .go-link:hover { text-decoration: none; color: var(--main-color) } 
.warning { color: var(--red-color); } 
.common-inputs { width: 100%; } 
.common-inputs + .warning { margin-top: -12px; } 
button:disabled { background: grey; cursor: not-allowed; } 

/* loader */
#loader { background-color: var(--main-color); height: 100vh; display: grid; place-items: center; position: relative; } 
#loader .scene { position: relative; z-index: 2; height: 220px; width: 220px; display: grid; place-items: center; } 
#loader .cube-wrapper { transform-style: preserve-3d; animation: bouncing 2s infinite; } 
#loader .cube { transform-style: preserve-3d; transform: rotateX(45deg) rotateZ(45deg); animation: rotation 2s infinite; } 
#loader .cube-faces { transform-style: preserve-3d; height: 80px; width: 80px; position: relative; transform-origin: 0 0; transform: translateX(0) translateY(0) translateZ(-40px); } 
#loader .cube-face { position: absolute; inset: 0; background: #110d31ff; border: solid 1px var(--main-color); } 
#loader .cube-face.shadow { transform: translateZ(-80px); animation: bouncing-shadow 2s infinite; } 
#loader .cube-face.top { transform: translateZ(80px); } 
#loader .cube-face.front { transform-origin: 0 50%; transform: rotateY(-90deg); } 
#loader .cube-face.back { transform-origin: 0 50%; transform: rotateY(-90deg) translateZ(-80px); } 
#loader .cube-face.right { transform-origin: 50% 0; transform: rotateX(-90deg) translateY(-80px); } 
#loader .cube-face.left { transform-origin: 50% 0; transform: rotateX(-90deg) translateY(-80px) translateZ(80px); } 

@keyframes rotation { 
 0% { transform: rotateX(45deg) rotateY(0) rotateZ(45deg); animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1); } 
 50% { transform: rotateX(45deg) rotateY(0) rotateZ(225deg); animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06); } 
 100% { transform: rotateX(45deg) rotateY(0) rotateZ(405deg); animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1); } 
 }
@keyframes bouncing { 
 0% { transform: translateY(-40px); animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06); } 
 45% { transform: translateY(40px); animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); } 
 100% { transform: translateY(-40px); animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06); } 
 }
@keyframes bouncing-shadow { 
 0% { transform: translateZ(-80px) scale(1.3); animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06); opacity: 0.05; } 
 45% { transform: translateZ(0); animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); opacity: 0.3; } 
 100% { transform: translateZ(-80px) scale(1.3); animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06); opacity: 0.05; } 
 }