@charset "utf-8";
:root { 
    --main-color: #3080eb; 
    --main-color2: #1354aa; 
    --main-color3: #4baa68; 
    --red-color: #ec3c3d; 
    --scrollbarBG: #fff; 
    --thumbBG: #90A4AE; 
} 

* { margin:0; padding: 0; vertical-align: top; box-sizing: border-box; } 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section { display: block; } 
i { font-style: normal; } 

/* a 링크 초기화 */
a { color: #333; text-decoration: none; } 
a:hover { color: #333; } 

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table { font-family: 'Helvetica Neue', 'Noto Sans KR', 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #333; font-size: 13px; line-height: 1.5; } 

/* table 초기화 */
table { padding:0; border:0; border-spacing:0px; border-collapse: collapse; } 
th, td { padding:0; } 

/* 폰트 스타일 초기화 */
em, address { font-style: normal; } 

/* 블릿기호 초기화 */
ul, li, ol { list-style: none; } 

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 { font-size: 13px; font-weight: normal; font-family: inherit; } 

/* 테두리 초기화 */
img,
fieldset { border: 0 none; } 

/* 버튼 초기화 */
button { border: 0; } 

img { display: block; width: auto; max-width: 100%; } 

input { outline: none; border: none; } 

input[type="number"] { -moz-appearance: textfield; appearance: none; -webkit-appearance: none; } 

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; } 

input[type="file"] {display: none;}

textarea { outline: none; border: none; } 

textarea:focus, input:focus { border-color: transparent !important; } 

button { outline: none !important; border: none; background: transparent; } 

button:hover { cursor: pointer; } 

/* scrollbar style */
body::-webkit-scrollbar { width: 11px; } 
body { scrollbar-width: thin; scrollbar-color: var(--thumbBG) var(--scrollbarBG); } 
body::-webkit-scrollbar-thumb { background-color: var(--thumbBG); border-radius: 6px; border: 3px solid var(--scrollbarBG); } 

/* clearfix */
.clearfix { *zoom: 1; } 
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0; } 
.clearfix:after { clear: both; } 

/* float */
.fl-l { float: left; } 
.fl-r { float: right; } 

/* IR 효과 */
.ir_pm { display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px; } 
.ir_wa { display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%; } 
.ir_so { overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px; } 

/* 가운데 영역 */
.page-container { position: relative; min-width: 1236px; margin: 0 auto; min-height: 100vh; } 
.shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.5); display: none; } 

.hide {display: none;}
.common-button { background: var(--main-color); color: #fff; width: 100%; height: 30px; border-radius: 3px; transition: background .2s ease; } 
.common-button:hover { background: var(--main-color2); } 
.go-link, .go-link:hover { text-decoration: none; color: var(--main-color) } 
.warning { color: var(--red-color); } 
.common-inputs { width: 100%; } 
.common-inputs + .warning { margin-top: -12px; } 
